<%- include('./partials/header.ejs') %>
<div>
  <div>
    <h1>Get started by looking up a word.</h1>
    <p>
      Begin your Glossi journey by looking up a word.
    </p>
    <form method="POST" id="word-form">
      <div class="mb-3">
        <label for="word-input" class="form-label">Word</label>
        <input
          type="text" class="form-control" id="word-input" name="word"
          value=""
        >
      </div>
      <button type="submit" class="btn btn-primary" id="sbutton">
        Submit
      </button>
    </form>
  </div>
</div>
<%- include('./partials/footer.ejs') %>