<%- include('../partials/header.ejs') %>
<div>
  <div>
    <a href="/entries/new" class="link-dark text-decoration-none">Add an entry</a> |
    Sort by:
    <a href="/entries?sort=most_recent" class="link-dark text-decoration-none">most recent</a> |
    <a href="/entries?sort=oldest" class="link-dark text-decoration-none">oldest first</a> |
    <a href="/entries?sort=alphabetical" class="link-dark text-decoration-none">alphabetical</a>
  </div>
  <div class="page">
    <% for (let i=0; i< entries.length; i++) { %>
      <div class="word">
        <a href="/entries/<%= entries[i]._id %>" class="link-dark text-decoration-none">
          <%= entries[i].headword %>
        </a>
      </div>
    <% } %>
  </div>
</div>
<%- include('../partials/footer.ejs') %>