/*
a {
  color: #00B7FF;
} */
/* nav {
  padding: 50px;
} */

.link-dark:hover {
  opacity: 50%;
}

.entry-heading-container {
  display: flex;
  gap: 1em;
  align-items: center;
}

@media (min-width: 640px) {
                 
}

@media (min-width: 768px) {
        
}

@media (min-width: 768px) {
        
}

@media (min-width: 1024px) {
        
}

@media (min-width: 1200px) {
        
}