/*
a {
  color: #00B7FF;
} */
/* nav {
  padding: 50px;
} */

body {
  background-color: #fdfdfd;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#nonfooter {
  min-height: 100vh;
}

.page {
  max-height: 40vh;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y: auto;
}

.word {
  min-width: 150px;
}

footer {
  
}

.underline {
  border-bottom: black 1px;
}

.link-dark:hover {
  opacity: 50%;
}

.heading-container {
  display: flex;
  gap: 1em;
  align-items: center;
}

.entry-body {
  white-space: pre-wrap;
}

@media (min-width: 640px) {
                 
}

@media (min-width: 768px) {
  .api-res-container{
    display: flex;
  }
  
  .api-res {
    width: 50%;
  }       
}

@media (min-width: 1024px) {
        
}

@media (min-width: 1200px) {
        
}